@font-face {
    font-family: BarleyScript;
    src: url(fonts/BarleyScript.ttf);
}

body{
    font-size: 0;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-image: url("images/blurry-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.head-title{
    font-family: BarleyScript;
    font-size: 90px;
    color: white;
    text-align: center;
    font-weight: bolder;
    margin: 18px 0 0;
    text-shadow:
            4px 4px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 20px black;
}

.input-group{
    margin-top: 160px;
    text-shadow:
            4px 4px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 20px black;
}

.btn-danger{
    font-family: BarleyScript;
    text-shadow:
            2px 2px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 5px black;
}