@font-face {
    font-family: BarleyScript;
    src: url(fonts/BarleyScript.ttf);
}

@font-face {
    font-family: dialogue;
    src: url(fonts/dialogue.otf);
}

body{
    font-family: dialogue;
    font-size: 0;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-image: url("images/blurry-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.head-title{
    font-family: BarleyScript;
    font-size: 80px;
    color: white;
    text-align: center;
    font-weight: bolder;
    margin: 20px 0 0;
    text-shadow:
            4px 4px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 20px black;
}

#map{
    display: inline-block;
    border: 3px solid white;
    height: 500px;
    width: 70%;
    position: relative;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow:
            3px 3px 0 black,
            0 0 0 black,
            0 0 0 black,
            0 0 0 black,
            1px 1px 20px black;
}

#weather-location {
    color: white;
    margin: 0;
    padding: 5px;
    font-size: 10px;
}

.side-container{
    display: inline-block;
    position: absolute;
    width: 320px;
}

#side_container1,
#side_container2{
    margin: 20px 20px 10px;
    border: 2px solid white;
    display: block;
    width: 100%;
    height: 297px;
    border-radius: 10px;
    text-shadow:
            1px 1px 0 black,
            0px 0px 0 black,
            0px 0px 0 black,
            0px 0px 0 black,
            1px 1px 2px black;
    box-shadow:
            3px 3px 0 black,
            0 0 0 black,
            0 0 0 black,
            0 0 0 black,
            1px 1px 20px black;
}

#side_container1{
    height: 191px;
}

#side_container2{
    margin: 10px 20px 0;
}

#weather-location{
    font-size: 17px;
    color: white;
    text-align: center;
    text-decoration: underline;
    margin: 10px 0;
}

#weather_image{
    /*border: 2px solid white;*/
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 70px;
    height: 70px;
    margin: -20px 12px 0 0;
}

#locationDiv,
#weather,
#estimated,
#city_location{
    color: white;
    font-size: 15px;
    margin: 2px 10px;
    display: block;
    width: 280px;
    height: 25px;
}

#observation_time{
    text-align: center;
    padding-top: 5px;
    color: white;
    font-size: 10px;
    margin: 2px 10px;
    display: block;
    width: 300px;
    height: 25px;
}

#locationDiv{
    margin-top: 10px;
}

.input-group{
    float: left;
    margin: 20px 0 50px;
    box-shadow:
            3px 3px 0 black,
            0 0 0 black,
            0 0 0 black,
            0 0 0 black,
            1px 1px 20px black;
}

.btn-danger{
    font-family: BarleyScript;
    text-shadow:
            2px 2px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 5px black;
    box-shadow:
            3px 3px 0 black,
            0 0 0 black,
            0 0 0 black,
            0 0 0 black,
            1px 1px 20px black;
}

#displayDiv{
    text-align: center;
    font-family: dialogue;
    color: white;
    font-size: 16px;
    margin-top: 30px;
    text-shadow:
            1px 1px 0 black,
            0px 0px 0 black,
            0px 0px 0 black,
            0px 0px 0 black,
            1px 1px 2px black;
}

#chuck_norris_gif{
    height: 240px;
    width: auto;
    margin: 14px 0 0 40px;
}