@font-face {
    font-family: BarleyScript;
    src: url(fonts/BarleyScript.ttf);
}

@font-face {
    font-family: dialogue;
    src: url(fonts/dialogue.otf);
}

body{
    font-family: dialogue;
    font-size: 0;
    width: 100%;
    height: auto;
    background-image: url("images/blurry-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.head-title{
    font-family: BarleyScript;
    font-size: 60px;
    color: white;
    text-align: center;
    font-weight: bolder;
    text-shadow:
            4px 4px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 20px black;
}

#main-section{
    width: 100%;
    height: auto;
    text-align: center;
}

#side-container{
    display: inline-block;
    margin: 0 auto;
    margin-right: 10px;
    width: 330px;
}

#side_container1,
#side_container2{
    display: inline-block;
    width: 100%;
    height: 125px;
    border-radius: 10px;
}

#side_container1{
    height: 300px;
    border: 2px solid white;
    text-shadow:
            1px 1px 0 black,
            0px 0px 0 black,
            0px 0px 0 black,
            0px 0px 0 black,
            1px 1px 2px black;
    box-shadow:
            3px 3px 0 black,
            0 0 0 black,
            0 0 0 black,
            0 0 0 black,
            1px 1px 20px black;
}

#side_container2{
    padding-top: 30px;
}

#map{
    display: inline-block;
    border: 3px solid white;
    height: 426px;
    width: 60%;
    border-radius: 15px;
    margin: 0 auto;
    margin-left: 10px;
    box-shadow:
            3px 3px 0 black,
            0 0 0 black,
            0 0 0 black,
            0 0 0 black,
            1px 1px 20px black;
}

#side-container,
#map {
    margin-top: 20px;
}

#weather-location{
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: underline;
    margin: 15px 0;
}

#weather_image{
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 120px;
    height: 120px;
    margin: -6px 12px 0 0;
}

#locationDiv,
#weather,
#estimated,
#city_location{
    color: white;
    text-align: left;
    font-size: 20px;
    margin: 20px 10px;
    display: block;
    width: 305px;
    height: 26px;
}

#city_location{
    width: 305px;
    height: 49px;
}

#observation_time{
    text-align: center;
    padding-top: 5px;
    color: white;
    font-size: 10px;
    margin: 2px 10px;
    display: block;
    width: 305px;
    height: 25px;
}

#locationDiv{
    margin-top: 10px;
}

.input-group{
    float: left;
    margin: 10px 0 50px;
    box-shadow:
            3px 3px 0 black,
            0 0 0 black,
            0 0 0 black,
            0 0 0 black,
            1px 1px 20px black;
}

.btn-danger{
    font-family: BarleyScript;
    text-shadow:
            2px 2px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 5px black;
    box-shadow:
            3px 3px 0 black,
            0 0 0 black,
            0 0 0 black,
            0 0 0 black,
            1px 1px 20px black;
}

@media only screen and (max-width: 1050px) {
    body {
        width: 100%;
    }
    .head-title{
        margin-bottom: 30px;
    }
    #map{
        margin: 0 0 60px;
        width: 70%;
        height: 350px;
    }
    #side-container{
        margin-right: 0;
    }
}

@media only screen and (max-width: 500px) {
    body {
        width: 100%;
    }
    .head-title{
        margin-bottom: 30px;
    }
    #map{
        margin: 0 0 60px;
        width: 90%;
        height: 350px;
    }
    #side-container{
        margin-right: 0;
    }
}