@font-face {
    font-family: coolFont;
    src: url(fonts/coolFont.ttf);
}

body{
    font-size: 0;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-image: url("images/blurry-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.head-title{
    font-family: coolFont;
    font-size: 70px;
    color: white;
    text-align: center;
    font-weight: bolder;
    margin: 50px 0 0;
    text-shadow:
            6px 6px black,
            -6px 6px black,
            6px -6px black,
            -6px -6px black,
            6px 6px 9px black;
}

#search_and_maps{
    display: inline-block;
    background-color: gray;
    opacity: 0.7;
    border: 3px solid white;
    height: 906px;
    width: 75%;
    position: relative;
    border-radius: 15px;
    margin-top: 50px;
}

#map-location{
    color: black;
    margin: 0;
    padding: 40px;
    font-size: 40px;
}

.side-container{
    display: inline-block;
    position: absolute;
    width: 400px;
}

#side_container1{
    background-color: gray;
    opacity: 0.7;
    margin: 49px 20px 40px;
    border: 3px solid white;
    display: block;
    width: 100%;
    height: 430px;
    border-radius: 10px;
}

#side_container2{
    background-color: gray;
    opacity: 0.7;
    margin: 20px 20px 0;
    border: 3px solid white;
    display: block;
    width: 100%;
    height: 430px;
    border-radius: 10px;
}

#weather-location,
#third-location{
    color: black;
    margin: 0;
    padding: 40px;
    font-size: 40px;
}

#refresh-button{
    margin-top: 40px;
}

.refresh{
    font-family: coolFont;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: black;
    display: inline;
}