@font-face {
    font-family: coolFont;
    src: url(fonts/coolFont.ttf);
}

body{
    font-size: 0;
    width: 1400px;
    height: 1000px;
    margin: 0 auto;
    background-image: url("images/blurry-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.head-title,
.head-subtitle{
    font-family: coolFont;
    font-size: 70px;
    color: white;
    text-align: center;
    font-weight: bolder;
    margin: 20px 0 0;
    text-shadow:
            6px 6px black,
            -6px 6px black,
            6px -6px black,
            -6px -6px black,
            6px 6px 9px black;
}

.head-subtitle{
    font-size: 40px;
    margin: 10px 0 20px;
    text-shadow:
            3px 3px black,
            -3px 3px black,
            3px -3px black,
            -3px -3px black,
            3px 3px 5px black;
}

#search_and_maps{
    display: inline-block;
    border: 2px solid white;
    height: 950px;
    width: 950px;
    position: relative;
    border-radius: 10px;
}

.side-container{
    display: inline-block;
    top: 20px;
}

#side_container1,
#side_container2 {
    margin: 20px;
    border: 2px solid white;
    display: block;
    width: 400px;
    height: 460px;
    border-radius: 10px;
}

#refresh-button{
    margin-top: 20px;
}

.refresh{
    font-family: coolFont;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    color: white;
    background-color: black;
    display: inline;
}

